.left-bar,
.right-bar,
.footer {
  background: #00D1AE;
  font-family: Arial;
  font-size: 50px;
  margin-bottom: 100px;
}
.left-bar {
  float: left;
  height: 400px;
  width: 700px;
}
.right-bar {
  float: left;
  height: 250px;
  margin-left: 10px;
  width: 700px;
}
.footer {
  background: #3565a5;
  color: rgb(78, 4, 4);
  clear: both;
  width: 610px;
}